* {
  margin: 0;
  padding: 0;

  font-family: "Nunito", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 50px;

  box-shadow: 0px 1px 10px 0px rgba(90, 90, 90, 0.35);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  width: 400px;

  position: relative;
  top: 0;
  right: 10px;
  bottom: 10px;
}

.menuSymbol {
  visibility: hidden;
}

ul,
li {
  list-style: none;
  font-size: 10px;
}

.menuElements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 40px;
  margin-top: 12px;
}

.menuMobile {
  width: 120px;
  font-size: 15px;
}

.collapsible {
  visibility: hidden;
  font-size: 30px;

  margin: 5px;
}

.collapsible > li {
  margin: 5px;
}

.menuMobile:hover {
  color: tomato;
  text-decoration: underline;
}

.menuMobile:hover > .collapsible {
  visibility: visible;
  color: black;
}

li.collapsible:hover {
  color: tomato;
}

button {
  border-radius: 20px;
  border-top-left-radius: 1px;
}

.buy {
  width: 80px;
  height: 30px;
  background-color: white;
  border: 2px solid tomato;
  color: black;
  font-size: 10px;
  font-weight: 800;
  margin-left: 60px;
}

.buy:hover {
  background-color: tomato;
  color: white;
}

/* ------ MAIN ------------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  margin-top: 70px;
}

.titleField {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 15px;
  color: tomato;
}

.titleAdvice {
  font-size: 40px;
  font-weight: 800;
}

.titleButton {
  width: 100px;
  height: 50px;
  background-color: tomato;
  border: none;
  color: white;
  font-size: 10px;
  font-weight: 800;
  margin-top: 10px;
  margin-right: 10px;
}

.titleButton:hover {
  background-color: white;
  border: 2px solid tomato;
  color: tomato;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px;

  width: 200px;
  height: 250px;
  font-weight: 800;
  color: white;

  position: relative;
}

.cardImg {
  width: 200px;
  border-radius: 50px;
}

.cardTitle,
.cardText {
  position: absolute;
  visibility: hidden;
}

.cardTitle {
  bottom: 120px;
  font-size: 15px;
}

.cardText {
  bottom: 80px;
  font-size: 25px;
}

.cardImg:hover ~ .cardTitle,
.cardImg:hover ~ .cardText {
  visibility: visible;
}
