* {
  margin: 0;
  padding: 0;

  font-family: "Nunito", sans-serif;
}

.header {
  width: 100%;
  height: 55px;

  box-shadow: 0px 1px 10px 0px rgba(90, 90, 90, 0.35);
}

.logo {
  width: 50px;
  max-width: 50px;
  margin: 5px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 100px;
  position: relative;
}

.menuSymbol {
  color: black;
  font-size: 50px;
  width: 100px;
  height: 100%;

  position: absolute;
  z-index: 100;
}

ul,
li {
  list-style: none;
  font-size: 10px;
}

.menuElements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
  visibility: hidden;

  margin-top: 12px;
}

.menuSymbol:hover + .menuElements {
  visibility: visible;
}
*/

/* -------- MAIN ------------------------------ */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titleField,
.titleText,
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleField {
  margin: 25px;
  width: 100%;
  height: 175px;

  justify-content: space-between;
}

.title {
  font-size: 20px;
  color: salmon;
}

.titleAdvice {
  font-size: 50px;
  font-weight: 800;
}

button {
  width: 130px;
  height: 50px;
  border: none;
  color: white;
  background-color: tomato;
  border-radius: 20px;
  border-top-left-radius: 1px;
  font-size: 15px;
  font-weight: 800;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 75px;
  height: 300px;
  width: 600px;
  position: relative;
}

.cardImg {
  border-radius: 30px;
  position: absolute;
}

.cardTitle,
.cardText {
  position: absolute;
  z-index: 10;

  color: white;
}

.cardTitle {
  bottom: 60px;
  font-size: 15px;
  font-weight: normal;
}

.cardText {
  bottom: 25px;
  font-size: 25px;
  font-weight: 800;
}
